[submodule "submodules/stm32-cmake"]
	path = submodules/stm32-cmake
	url = https://github.com/ObKo/stm32-cmake.git
[submodule "submodules/serial"]
	path = submodules/serial
	url = https://github.com/wjwwood/serial
