CONFIG_EXAMPLE_SDIO_RESET_PIN=54
CONFIG_EXAMPLE_SDIO_BOOT_PIN=53
CONFIG_EXAMPLE_SDIO_D0_PIN=50
CONFIG_EXAMPLE_SDIO_D1_PIN=49
CONFIG_EXAMPLE_SDIO_D2_PIN=48
CONFIG_EXAMPLE_SDIO_D3_PIN=47
CONFIG_EXAMPLE_SDIO_CLK_PIN=51
CONFIG_EXAMPLE_SDIO_CMD_PIN=52
CONFIG_EXAMPLE_UART_TX_PIN=4
CONFIG_EXAMPLE_UART_RX_PIN=5
CONFIG_EXAMPLE_UART_RESET_PIN=28
CONFIG_EXAMPLE_UART_BOOT_PIN=29
CONFIG_EXAMPLE_USB_PERIPHERAL_INDEX=1
