config ESP_SERIAL_FLASHER
    bool "Enable ESP serial flasher library"
    default y
    select CONSOLE_SUBSYS
    help
        Select this option to enable the ESP serial flasher library.

if ESP_SERIAL_FLASHER
    rsource "../Kconfig"
endif